<div class="nav-container navbarHome">
    <nav class="main-nav">
        <div class="search" style="width:100%; justify-content: space-between">
            <img src="/images/M_PACK_BLUE.png" onclick="javascript:window.location='/'" height="80%" alt="logo">
            <div class="search-input">
                <input type="text" placeholder="I'am looking for" class="input" id="search">
                <i class='bx bx-search'></i>

            </div>

        </div>
 


    </nav>
</div>
<style>
    .search-input{
        max-width: 45%;
        position: absolute;
        right: 30%;
    }
</style>
