<div class="admin-left">
   <div class="container">
      <div class="admin-drop1  ">
         <span style="display:flex;align-items: center;
      font-weight: bold; padding-top: 10px;">
            PRODUCTS
         </span>
         <hr>
         <a href="/admin/add-product" style="text-decoration: none; ">
            <i class='bx bx-briefcase'></i><span>Add Product</span>
         </a>
         <a href="/admin/product" style="text-decoration: none;margin-top: 10px;">
            <i class='bx bx-briefcase'></i><span>View Product</span>
         </a>


      </div>

      <div class="admin-drop1">
         <span style="display:flex;align-items: center;
      font-weight: bold; padding-top: 10px;">
            USER
         </span>
         <hr>
         <a href="/admin/userdata" style="text-decoration: none;">
            <i class='bx bxs-user'></i><span>View User</span>
         </a>


      </div>


      <div class="admin-drop1">
         <span style="display:flex;align-items: center;font-weight: bold; padding-top: 10px;">
            ORDERS
         </span>
         <hr>
         <a href="/admin/view-order" style="text-decoration: none;">
            <i class='bx bx-cart'></i><span>View Orders</span>
         </a>


      </div>



      <div class="admin-drop1">
         <span style="display:flex;align-items: center;
      font-weight: bold; padding-top: 10px;">
            MESSAGE


         </span>
         <hr>

         <a href="/admin/message" style="text-decoration: none;">
            <i class='bx bx-message-rounded'></i><span>Messaging</span>
         </a>

      </div>

   </div>

</div>