<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Verification</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="body"></p>

            </div>

        </div>
    </div>
</div>
<div class="form-holder">
    <div class="forgot-form">
        <div class="text-part">
            <h3><i class="fa fa-lock fa-4x"></i></h3>
            <h2 class="text-center">Forgot Password?</h2>
            <p>Give your email address to reset your password</p>
            <p style="color:rgb(74, 199, 82)" id="report"></p>
            <div class="form-part">
                <form id="resetForm" action="/login/compId" method="post">


                    <input id="email" name="email" placeholder="Enter your email address" class="form-control"
                        style="width:350px;" type="email">

                    <input id="resetbtn" class="btn btn-lg btn-primary btn-bloc mt-4 mx-1" 
                        data-bs-target="#exampleModal" style="width:335px;" value="Reset Password" type="submit">


                </form>

            </div>


        </div>



    </div>

</div>
<script>
    document.querySelector("#resetForm").addEventListener("submit", (e) => {
        e.preventDefault()
        console.log("Reset Password")
        let userEmail = document.querySelector("#email").value;
        document.querySelector('#body').innerHTML += ` please check this <span style="color:blue;">${userEmail}</span> email address for OTP verification`;
        e.target.submit();

    });
</script>